.jumbotron {
  border-radius: 6px;
  padding-left:30px;
  padding-right:30px;
}

hr {
  border-top: 2px solid #bee1ec;
}

.btn-lg {
  border-radius:0px;
  width: 95%;
  height: 55px;
  font-size:90%;
}

.btn-md {
  border-radius:0px;
  width: 90%;
  height: 45px;
  font-size:90%;
}

h4 {
  color: #ff970f;
  margin-bottom: 20px;
}

.footer {
  position:relative;
  margin-bottom: 10px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding-top:30px;
  padding-bottom:20px;
} 
