.jumbotron {
  border-radius: 6px;
  background-color:#eee;
}

hr {
  border-top: 2px solid #bee1ec;
}

.btn-lg {
  border-radius:0px;
  width: 250px;
  height: 60px;
}

.btn-md {
  border-radius:0px;
  width: 250px;
  height: 45px;
}

h3 {
  color: #ff970f;
  margin-bottom: 20px;
}

.footer {
  position:relative;
  margin-bottom: 10px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding-top:30px;
  padding-bottom:20px;
} 
