<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../static/css/bootstrap.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
		<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../static/css/custom.css">

	   <!-- jQuery first, then Tether, then Bootstrap JS. -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
		<script src="../static/js/myjavascript.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
		
		<script type="text/x-mathjax-config">
		  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
		</script>
		<script type="text/javascript" async
		  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
		</script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
	    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	</head>
  
  
	<body>  
		<!-- Title of the page -->
		<div class="jumbotron text-center .container-fluid">
			<h1>Atlas Web Interface</h1>
		</div>
    
		<!-- Main content of the page, currently contains top part (with 4 divs) bottom part (contains atlas input and atlas output) -->
		<div class="container">
			<div class="row">
				<div class="col-sm-3 text-center">
				<h4>Select a topic:</h4>
				<form method="POST">
				 	<button type = "button" onclick="show(['spec-str-thy','show-str-thy','other-str-thy'])" class = "btn btn-default btn-lg">Structure Theory</button><br>
				 	<button type = "button" class = "btn btn-default btn-lg">K Types & Branching</button><br>
				 	<button type = "button" class = "btn btn-default btn-lg">Representations</button><br>
				 	<button type = "button" class = "btn btn-default btn-lg">KLV Polynomials</button><br>
				 	<button type = "button" class = "btn btn-default btn-lg">Unitary Representations</button><br>
				 	<button type = "button" class = "btn btn-default btn-lg">Induction</button><br>
					<button type = "button" class = "btn btn-default btn-lg">Complex Groups</button><br>
				</form>
				</div>

				<div id="spec-str-thy" class="col-sm-3 text-center" style="display:none">
					<h4> Specify: </h4>
					<select id="groups" class="selectpicker"  data-width="85%" title="Pick a group"> 
					</select><br><br>
					<select id="cartans" class = "selectpicker" data-width="85%" title="Pick a Cartan">
						<option value="op1">Option 1</option>
						<option>Option 2</option>
					</select><br><br>
				</div>

				<div id="other-str-thy" class="col-sm-3 text-center" style="display:none">
					<h4> Another Column </h4>
				</div>

				<div id="show-str-thy" class="col-sm-3 text-center" style="display:none">
					<h4> Show: </h4>
					<button type = "button" class = "btn btn-default btn-md">Cartan Subgroups</button><br>
					<button type = "button" class = "btn btn-default btn-md disabled">Real Forms</button><br>
					<button type = "button" class = "btn btn-default btn-md">Distinguished Involution</button><br>
					<button type = "button" class = "btn btn-default btn-md">Simple Roots</button><br>
					<button type = "button" class = "btn btn-default btn-md">KGB Elements</button><br>
					<button type = "button" class = "btn btn-default btn-md disabled">KGB Orbits of Real Weyl Group</button><br>
				</div>
			</div>
			<hr>
		</div>
		<div class="container" clear:both>
			<div class="col-sm-6">
				<p><h4>atlas input:</h4></p>
				<p style="white-space: pre-line">{{ atlas_input }}</p>
			</div>
			<div class="col-sm-6">
				<p><h4>atlas output:</h4></p>
				<input type="checkbox" data-width="200px" data-toggle="toggle" data-on="Show Formatted Output" data-off="Show Raw Output">
				<p style="white-space: pre-line">{{ atlas_output }}</p>
			</div>
			<hr>
		</div>


    <div class="container text-center">
        <footer class="footer">&copy;Copyright 2016, <a href="liegroups.org"> liegroups.org </a><br></footer>
    </div>

	</body>
</html>
